.menu {
  padding: 0 28px;
  height: 92px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  .logo a {
    display: flex;
    align-items: center;
    .title {
      font-size: 2.5em;
      line-height: 1.64em;
      margin-left: 4px;
      color: #ffffff;
      white-space: nowrap;
      position: relative;
      top: -3px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    .button--white {
      margin-left: 1.0625em;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.navigation {
  max-width: 440px;
  width: 100%;
  margin: 0 30px;
  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item a {
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.25em;
    color: rgba(255, 255, 255, 0.9);
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.burger {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
  backdrop-filter: blur(4px);
  font-size: 1.5em;
  &__container {
    height: 100%;
    width: 320px;
    margin-left: auto;
    background: linear-gradient(179.57deg, #57585c 2.69%, #1b1b1b 99.62%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -100%;
    transition: right 0.5s ease;
    @media screen and (max-width: 320px) {
      width: 100vw;
    }
  }

  &__icon {
    display: none;
    width: 100px;
    height: 100px;
    background: none;
    width: 50px;
    height: 50px;
    @media screen and (max-width: 768px) {
      display: block;
    }

    &--close {
      position: absolute;
      width: 30px;
      height: 30px;
      background: none;
      top: 20px;
      right: 20px;
    }
  }

  &__navigation {
    display: block;
    margin: 0;
    .navigation__items {
      flex-direction: column;
      align-items: center;
      .navigation__item {
        margin: 10px 0;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    .button--transparent {
      margin: 10px 0;
    }
    .button--white {
      margin: auto;
    }
  }
  @media screen and (max-width: 768px) {
    &.open {
      display: block;
    }
  }
}
