@font-face {
  font-family: 'Futura';
  font-display: swap;
  src: url('../fonts/FuturaNowHeadlineBold.woff2') format('woff2'),
    url('../fonts/FuturaNowHeadlineBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
